@model WebMVC_0516.Models.DemoData.Student

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gitHubLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gitHubLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creDataTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creDataTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateDateTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
